<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.donate_prj.repository.DonateInfoMapper">

    <resultMap id="donateInfoMap" type="com.project.donate_prj.domain.DonateInfo">
        <result property="boardNo" column="board_no"/>
        <result property="userId" column="user_id"/>
        <result property="donateMoney" column="donate_money"/>
    </resultMap>

    <insert id="save">
        INSERT INTO donate_info
        VALUES (#{boardNo}, #{title}, #{userId}, #{donateMoney})
    </insert>

    <select id="findAllDonation" resultMap="donateInfoMap">
        SELECT *
        FROM donate_info
        WHERE user_id = #{userId}

<!--        SELECT *-->
<!--        FROM (SELECT ROWNUM rn, d_board.*-->
<!--        FROM (-->
<!--        SELECT *-->
<!--        FROM donate_info-->
<!--        WHERE user_id=#{userId}-->
<!--        ORDER BY board_no DESC-->
<!--        ) d_board)-->
<!--        WHERE rn BETWEEN (#{pageNum} - 1) * #{amount} + 1 AND (#{pageNum} * #{amount})-->
    </select>

</mapper>
